			body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005ea8;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: #fff;
    color: #007bff;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #005ea8;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 100%; /* Увеличено использование доступного пространства */
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три одинаковые колонки занимают всю ширину родителя */
    gap: 25px;
    justify-content: stretch;
}

.card {
    background: #2f81fdff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #eaeaea;
    margin: auto;
    padding: 10px; /* Добавлено внутреннее отступление */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

.card img {
    width: 100%;
    height: 250px; /* Немного увеличенная высота изображений */
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    color: black;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: 600;
}

.card-content p {
    color: #000000ff;
    margin-bottom: 15px;
    font-size: 0.95em;
}

.text {
    margin-bottom: 15px;
    padding: 5px;
}


