		body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }
        
        header {
            background-color: #005ea8;
            color: white;
            text-align: center;
            padding: 1em 0;
        }
        
        nav ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: space-evenly;

        }
        
        nav a {
            color: white;
            text-decoration: none;
            padding: 10px 10px;
            transition: all 0.3s ease-in-out;
        }
        
        nav a:hover {
            background-color: #fff;
            color: #007bff;
        }
        
        main {
            max-width: 1200px;
            margin: auto;
            padding: 20px;
        }
        
        section {
            margin-bottom: 20px;
        }
        
        footer {
            background-color: #005ea8;
            color: white;
            text-align: center;
            padding: 1em 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
             

